===============================================================================
                               {{ newspaper_name | upper }}
===============================================================================
Date: {{ date }}
-------------------------------------------------------------------------------

{% for article in articles %}
{{ article.headline | upper }}
{{ "-" * 80 }}
{{ article.summary }}
{% if loop.index < articles|length %}
-------------------------------------------------------------------------------
{% endif %}
{% endfor %}

===============================================================================